<div layout="column" layout-align="start center">
    <div layout="column">
        <md-card ng-repeat="product in products | filter:search | orderBy : sort : reverse" class="product-list-item">
            <md-card-content>
                <div layout="row">
                    <div class="md-tile-left product-list-item-image">
                        <img ng-src="{{product.image}}" class="face" alt="{{product.name}}">
                    </div>
                    <div class="md-tile-content product-list-item-content">
                        <h3 class="product-list-item-content-title">{{product.name}}</h3>
                        <h4>En stock: {{product.amount}}</h4>

                        <p>
                            {{product.description}}
                        </p>
                    </div>
                    <div layout="column" class="product-list-item-button">
                        <div class="product-list-item-more">
                            <md-button class="md-secondary md-fab product-list-item-more-image"
                                       aria-label="more">
                                <md-icon md-svg-src="resources/more.svg"></md-icon>
                            </md-button>
                        </div>
                        <div lass="product-list-item-order">
                            <md-button ng-click="onClickCart(product.id)"
                                       class="md-secondary md-fab product-list-item-order-image"
                                       aria-label="order">
                                <md-icon md-svg-src="resources/order.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>