<div class="sample" layout="column">
    <md-tabs md-selected="selectedIndex" flex>
        <md-tab label="Product Detail">
            <div class="demo-tab" layout="column" layout-align="space-around center">
                {{product.id}}<br/>
                {{product.name}}<br/>
                {{product.description}}<br/>
                View for product detail #1<br/>
                data.selectedIndex = 0
            </div>
        </md-tab>
        <md-tab label="Order">
            <div class="demo-tab" layout="column" layout-align="space-around center">
                View for order<br/>
                data.selectedIndex = 1
            </div>
        </md-tab>
    </md-tabs>
</div>