<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <div class="md-toolbar-tools" layout="row">
            <span>Product App</span>
        </div>
        <div class="md-toolbar-tools" layout="row" layout-align="end center">
            <div layout="row">
                <md-icon md-svg-src="resources/search.svg" alt="search"></md-icon>
                <md-input-container class="product-list-toolbar-search">
                    <label>Search</label>
                    <input ng-model="search">
                </md-input-container>
                <md-icon md-svg-src="resources/sort.svg" alt="search"></md-icon>
                <md-select ng-model="sort" placeholder="name" class="product-list-toolbar-sort">
                    <md-option ng-value="opt" ng-repeat="opt in sortOption">{{opt}}</md-option>
                </md-select>
                <md-button ng-click="reverseSort()" class="md-secondary md-fab product-list-toolbar-revert-sort"
                           aria-label="swap">
                    <md-icon md-svg-src="resources/swapVert.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>
<div layout="column" layout-align="start center">
    <div layout="column">
        <md-card ng-repeat="product in products | filter:search | orderBy : sort : reverse" class="product-list-item">
            <md-card-content>
                <div layout="row">
                    <div class="md-tile-left product-list-item-image">
                        <img ng-src="{{product.image}}" class="face" alt="{{product.title}}">
                    </div>
                    <div class="md-tile-content product-list-item-content">
                        <h3 class="product-list-item-content-title">{{product.name}}</h3>
                        <h4>En stock: {{product.amount}}</h4>

                        <p>
                            {{product.description}}
                        </p>
                    </div>
                    <div layout="column" class="product-list-item-button">
                        <div class="product-list-item-more">
                            <md-button class="md-secondary md-fab product-list-item-more-image"
                                       aria-label="more">
                                <md-icon md-svg-src="resources/more.svg"></md-icon>
                            </md-button>
                        </div>
                        <div lass="product-list-item-order">
                            <md-button ng-click="onClickCart(product.id)"
                                       class="md-secondary md-fab product-list-item-order-image"
                                       aria-label="order">
                                <md-icon md-svg-src="resources/order.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>